# 1.import library

In [25]:
import pandas as pd
import pyodbc
from sklearn.preprocessing import MinMaxScaler

# 2. Import data Data from SQL

In [ ]:
conn = pyodbc.connect( #CONNECTION
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-OI1U6J19\MSSQLSERVER01;"
    "DATABASE=1;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;")
df = pd.read_sql_query('''
                                        
SELECT *
FROM [1].[dbo].[Online_Retail]
                                       
    ; ''', conn)
df

<>:3: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
<>:3: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
C:\Users\Bom's PC\AppData\Local\Temp\ipykernel_16936\2411000380.py:3: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
  "SERVER=LAPTOP-OI1U6J19\MSSQLSERVER01;"
C:\Users\Bom's PC\AppData\Local\Temp\ipykernel_16936\2411000380.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('''

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

# 3. Data Cleaning Process

## 3.1. General Imformation

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067366 non-null  float64
 6   Customer_ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [29]:
df.shape

(1067371, 8)

In [30]:
df.describe(include='object')

        Invoice StockCode                         Description         Country
count   1067371   1067371                             1062989         1067371
unique    53628      5305                                5672              43
top      537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
freq       1350      5829                                5918          981330

In [31]:
df.isna().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               5
Customer_ID    243007
Country             0
dtype: int64

## 3.2. Remove Duplicate Rows

In [32]:
df.duplicated().sum()

np.int64(34335)

In [33]:
df = df.drop_duplicates()
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

## 3.3. Detect & remove outlier using IQR

In [49]:
def detect_outliers_iqr(df, column):
    """
    Detect outliers using the IQR method.
    Outliers = values < Q1 - 1.5*IQR  or > Q3 + 1.5*IQR
    """
    if column not in df.columns:
        raise KeyError(f"Column '{column}' not found in DataFrame.")

    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = max(Q1 - 1.5 * IQR, 1)
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

outliers, low, high = detect_outliers_iqr(df, "Quantity")

print("Lower bound:", low)
print("Upper bound:", high)
print("Số outlier:", len(outliers))

Lower bound: 1
Upper bound: 23.5
Số outlier: 132562

In [50]:
df_clean=df.drop(outliers.index)

In [52]:
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

## 3.4. Remove Irrelevant Data Using Biz Sense

## 3.5. Standardization Capitalization

In [54]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer_ID', 'Country'],
      dtype='object')

In [55]:
df_clean = df_clean.rename(columns={"Customer_ID": "CustomerID"})

## 3.6. Convert Data type

In [59]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 673160 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      673160 non-null  object
 1   StockCode    673160 non-null  object
 2   Description  673160 non-null  object
 3   Quantity     673160 non-null  int64
 4   InvoiceDate  673160 non-null  datetime64[ns]
 5   Price        673160 non-null  float64
 6   CustomerID   673160 non-null  float64
 7   Country      673160 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 46.2+ MB

## 3.7. Cleaning format

## 3.8. Fix Error

## 3.9. Languagues Translation

## 3.10. Handle missing Value

In [60]:
df_clean.dropna(inplace=True)
df_clean

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,CustomerID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [64]:
df_clean['TotalAmount'] = df_clean['Price'] * df_clean['Quantity']

In [83]:
df_clean.to_csv("Online_Retail_Clean.csv", index=False) ## chỗ này e xuất file bằng cách kia nó bị đứng SQL

# 4. Create Recency, Frequency, Monetary Column

In [66]:
df_clean["InvoiceDate"] = pd.to_datetime(df_clean["InvoiceDate"])

# Build RFM
reference_date = df_clean["InvoiceDate"].max() + pd.Timedelta(days=1)

rfm = df_clean.groupby("CustomerID").agg({
    "InvoiceDate": lambda x: (reference_date - x.max()).days,  # Recency
    "CustomerID": "count",                                    # Frequency
    "TotalAmount": "sum"                                       # Monetary
})

rfm.columns = ["R", "F", "M"]

# Min-Max Scaling
scaler = MinMaxScaler()
rfm_scaled = pd.DataFrame(
    scaler.fit_transform(rfm),
    columns=["R_scaled", "F_scaled", "M_scaled"],
    index=rfm.index
)

# Combine original + scaled
rfm_final = pd.concat([rfm, rfm_scaled], axis=1)

print(rfm_final)

              R    F            M  R_scaled  F_scaled  M_scaled
CustomerID
12346.0     529   33   372.859995  0.715447  0.002627  0.001794
12347.0       2  177  3578.669995  0.001355  0.014451  0.017221
12348.0      75   13   478.200004  0.100271  0.000985  0.002301
12349.0      19  154  3972.089982  0.024390  0.012563  0.019114
12350.0     310   16   313.999996  0.418699  0.001232  0.001511
...         ...  ...          ...       ...       ...       ...
18283.0       4  938  2664.899978  0.004065  0.076936  0.012824
18284.0     432   18   295.899999  0.584011  0.001396  0.001424
18285.0     661   11   222.999998  0.894309  0.000821  0.001073
18286.0     477   63  1227.789998  0.644986  0.005091  0.005908
18287.0      59   98  1806.389986  0.078591  0.007965  0.008693

[5717 rows x 6 columns]

## 4.1. Calculate Weighted RFM Score

In [67]:
rfm_final['RFM_Score']= rfm_final['R_scaled']*0.3 + rfm_final['F_scaled']*0.5 + rfm_final['M_scaled']*0.2
rfm_final

              R    F            M  R_scaled  F_scaled  M_scaled  RFM_Score
CustomerID
12346.0     529   33   372.859995  0.715447  0.002627  0.001794   0.216307
12347.0       2  177  3578.669995  0.001355  0.014451  0.017221   0.011076
12348.0      75   13   478.200004  0.100271  0.000985  0.002301   0.031034
12349.0      19  154  3972.089982  0.024390  0.012563  0.019114   0.017421
12350.0     310   16   313.999996  0.418699  0.001232  0.001511   0.126528
...         ...  ...          ...       ...       ...       ...        ...
18283.0       4  938  2664.899978  0.004065  0.076936  0.012824   0.042252
18284.0     432   18   295.899999  0.584011  0.001396  0.001424   0.176186
18285.0     661   11   222.999998  0.894309  0.000821  0.001073   0.268918
18286.0     477   63  1227.789998  0.644986  0.005091  0.005908   0.197223
18287.0      59   98  1806.389986  0.078591  0.007965  0.008693   0.029298

[5717 rows x 7 columns]

## 4.2. Assign VIP Labels

In [70]:
import numpy as np

rfm_final['VIP'] = np.where(rfm_final['RFM_Score'] > 0.75, 1, 0)
rfm_final

,R,F,M,R_scaled,F_scaled,M_scaled,RFM_Score,VIP
CustomerID,,,,,,,,
12346.0,529,33,372.859995,0.715447,0.002627,0.001794,0.216307,0
12347.0,2,177,3578.669995,0.001355,0.014451,0.017221,0.011076,0
12348.0,75,13,478.200004,0.100271,0.000985,0.002301,0.031034,0
12349.0,19,154,3972.089982,0.024390,0.012563,0.019114,0.017421,0
12350.0,310,16,313.999996,0.418699,0.001232,0.001511,0.126528,0
...,...,...,...,...,...,...,...,...
18283.0,4,938,2664.899978,0.004065,0.076936,0.012824,0.042252,0
18284.0,432,18,295.899999,0.584011,0.001396,0.001424,0.176186,0
18285.0,661,11,222.999998,0.894309,0.000821,0.001073,0.268918,0
18286.0,477,63,1227.789998,0.644986,0.005091,0.005908,0.197223,0
18287.0,59,98,1806.389986,0.078591,0.007965,0.008693,0.029298,0

In [86]:
rfm_final.columns

Index(['R', 'F', 'M', 'R_scaled', 'F_scaled', 'M_scaled', 'RFM_Score', 'VIP'], dtype='object')

In [87]:
rfm_final = rfm_final.reset_index()

In [88]:
rfm_final = rfm_final.rename(columns={'index': 'CustomerID'})

In [89]:
rfm_final

,CustomerID,R,F,M,R_scaled,F_scaled,M_scaled,RFM_Score,VIP
0,12346.0,529,33,372.859995,0.715447,0.002627,0.001794,0.216307,0
1,12347.0,2,177,3578.669995,0.001355,0.014451,0.017221,0.011076,0
2,12348.0,75,13,478.200004,0.100271,0.000985,0.002301,0.031034,0
3,12349.0,19,154,3972.089982,0.024390,0.012563,0.019114,0.017421,0
4,12350.0,310,16,313.999996,0.418699,0.001232,0.001511,0.126528,0
...,...,...,...,...,...,...,...,...,...
5712,18283.0,4,938,2664.899978,0.004065,0.076936,0.012824,0.042252,0
5713,18284.0,432,18,295.899999,0.584011,0.001396,0.001424,0.176186,0
5714,18285.0,661,11,222.999998,0.894309,0.000821,0.001073,0.268918,0
5715,18286.0,477,63,1227.789998,0.644986,0.005091,0.005908,0.197223,0
5716,18287.0,59,98,1806.389986,0.078591,0.007965,0.008693,0.029298,0

In [71]:
vip_count = rfm_final['VIP'].sum()
print(vip_count)

0

## 4.3. Train KNN Using Historical Data

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

# Features và Label
X = rfm_final[['R', 'F', 'M']]
y = rfm_final['VIP']

# Tách train/test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [73]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [74]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier()

## 4.4. Predict New User IN CURRENT

In [79]:
import pandas as pd

data = {
    "CustomerID": ["C001","C002","C003","C004","C005","C006","C007","C008","C009","C010"],
    "R_scaled":     [0.92, 0.88, 0.40, 0.30, 0.95, 0.50, 0.25, 0.70, 0.35, 0.60],
    "F_scaled":   [0.10, 0.20, 0.60, 0.80, 0.05, 0.50, 0.90, 0.30, 0.75, 0.40],
    "M_scaled":    [0.15, 0.30, 0.70, 0.80, 0.10, 0.55, 0.85, 0.40, 0.75, 0.45]
}

df_new = pd.DataFrame(data)

print(df_new)

  CustomerID  R_scaled  F_scaled  M_scaled
0       C001      0.92      0.10      0.15
1       C002      0.88      0.20      0.30
2       C003      0.40      0.60      0.70
3       C004      0.30      0.80      0.80
4       C005      0.95      0.05      0.10
5       C006      0.50      0.50      0.55
6       C007      0.25      0.90      0.85
7       C008      0.70      0.30      0.40
8       C009      0.35      0.75      0.75
9       C010      0.60      0.40      0.45

In [80]:
X_new = df_new[["R_scaled", "F_scaled", "M_scaled"]]

In [81]:
df_new["Predicted_NewUser"] = knn.predict(X_new)

C:\Users\Bom's PC\AppData\Roaming\Python\Python314\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [82]:
df_new

  CustomerID  R_scaled  F_scaled  M_scaled  Predicted_NewUser
0       C001      0.92      0.10      0.15                  0
1       C002      0.88      0.20      0.30                  0
2       C003      0.40      0.60      0.70                  0
3       C004      0.30      0.80      0.80                  0
4       C005      0.95      0.05      0.10                  0
5       C006      0.50      0.50      0.55                  0
6       C007      0.25      0.90      0.85                  0
7       C008      0.70      0.30      0.40                  0
8       C009      0.35      0.75      0.75                  0
9       C010      0.60      0.40      0.45                  0

# 5. Save Clear Data Into Database To Visiualization

In [90]:
import pyodbc
conn = pyodbc.connect( #CONNECTION
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-OI1U6J19\MSSQLSERVER01;"
    "DATABASE=1;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;")
cursor = conn.cursor()

# --- Map pandas dtype -> SQL Server type ---
dtype_map = lambda dt: "INT" if pd.api.types.is_integer_dtype(dt) else \
                       "FLOAT" if pd.api.types.is_float_dtype(dt) else \
                       "BIT" if pd.api.types.is_bool_dtype(dt) else \
                       "DATETIME" if pd.api.types.is_datetime64_any_dtype(dt) else \
                       "VARCHAR(255)"

table_name = "Online_retail_RFM"

# --- Drop + Create table ---
cursor.execute(f"IF OBJECT_ID('dbo.{table_name}', 'U') IS NOT NULL DROP TABLE dbo.{table_name}")
cols = ", ".join([f"[{c}] {dtype_map(rfm_final[c].dtype)}" for c in rfm_final.columns])
cursor.execute(f"CREATE TABLE dbo.{table_name} ({cols})")

# --- Insert rows ---
cursor.fast_executemany = True
cursor.executemany(f"INSERT INTO dbo.{table_name} VALUES ({','.join(['?']*len(rfm_final.columns))})", rfm_final.values.tolist())
conn.commit()

<>:4: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
<>:4: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
C:\Users\Bom's PC\AppData\Local\Temp\ipykernel_16936\3338229478.py:4: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
  "SERVER=LAPTOP-OI1U6J19\MSSQLSERVER01;"

In [91]:
import pyodbc
conn = pyodbc.connect( #CONNECTION
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-OI1U6J19\MSSQLSERVER01;"
    "DATABASE=1;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;")
cursor = conn.cursor()

# --- Map pandas dtype -> SQL Server type ---
dtype_map = lambda dt: "INT" if pd.api.types.is_integer_dtype(dt) else \
                       "FLOAT" if pd.api.types.is_float_dtype(dt) else \
                       "BIT" if pd.api.types.is_bool_dtype(dt) else \
                       "DATETIME" if pd.api.types.is_datetime64_any_dtype(dt) else \
                       "VARCHAR(255)"

table_name = "Online_Retail_Test_NewUser"

# --- Drop + Create table ---
cursor.execute(f"IF OBJECT_ID('dbo.{table_name}', 'U') IS NOT NULL DROP TABLE dbo.{table_name}")
cols = ", ".join([f"[{c}] {dtype_map(df_new[c].dtype)}" for c in df_new.columns])
cursor.execute(f"CREATE TABLE dbo.{table_name} ({cols})")

# --- Insert rows ---
cursor.fast_executemany = True
cursor.executemany(f"INSERT INTO dbo.{table_name} VALUES ({','.join(['?']*len(df_new.columns))})", df_new.values.tolist())
conn.commit()

<>:4: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
<>:4: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
C:\Users\Bom's PC\AppData\Local\Temp\ipykernel_16936\1365083841.py:4: SyntaxWarning: "\M" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\M"? A raw string is also an option.
  "SERVER=LAPTOP-OI1U6J19\MSSQLSERVER01;"